extends layout

block content
  h1= title
  p Bienvenue sur l'API intranet - Groupomania.
  p Voici les routes disponibles :
  ul 
  li /api/auth/signup
  li /api/auth/login
  li /api/posts
  li /api/posts/{id}
  li /api/posts/{id}/like
